---
import InstagramIcon from "../../assets/icons/social/insta.svg";
import FacebookIcon from "../../assets/icons/social/facebook.svg";
import MailIcon from "../../assets/icons/social/email.svg";
import WhatsAppIcon from "../../assets/icons/social/whatsapp.svg";
import Info from '../../data/info.json';

const { class: className = "social-links" } = Astro.props;
---


<div class={className} role="group" aria-label="Liens sociaux">
  <a href={Info.whatsapp} target="_blank" rel="noopener noreferrer" aria-label="WhatsApp" role="link">
    <WhatsAppIcon />
  </a>
  <a href={Info.insta} target="_blank" rel="noopener noreferrer" aria-label="Instagram" role="link">
    <InstagramIcon />
  </a>
  <a href={Info.facebook} target="_blank" rel="noopener noreferrer" aria-label="Facebook" role="link">
    <FacebookIcon />
  </a>
  <a href={`mailto:${Info.email}`} target="_blank" rel="noopener noreferrer" aria-label="Email" role="link">
    <MailIcon />
  </a>
</div>

<style>
.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
      justify-content: center;
      gap: 1rem;
    }

.social-links svg{
    width:3rem;
}



svg{
  filter: none;
      transition: filter 2s;

}

</style>