---
import LogoDayaType from "../atoms/LogoDayaType.astro";
import Info from "../../data/info.json";
import InstagramIcon from "../../assets/icons/social/insta.svg";
import FacebookIcon from "../../assets/icons/social/facebook.svg";
import MailIcon from "../../assets/icons/social/mail.svg";
---

<footer class="footer">
  <div class="footer-brand">
    <a href="/" aria-label="Accueil">
      <LogoDayaType width=250 />
    </a>

    <div class="social-links">
      <a href={Info.insta} target="_blank" rel="noopener noreferrer">
        <InstagramIcon />
      </a>
      <a href={Info.facebook} target="_blank" rel="noopener noreferrer">
        <FacebookIcon />
      </a>
      <a href={`mailto:${Info.email}`} target="_blank" rel="noopener noreferrer">
        <MailIcon />
      </a>
    </div>
      <p class="bold center mb0"><a href={Info.gmaps} target="_blank" rel="noopener noreferrer">{Info.address}</a></p>
      <p class="center neutral-500">{Info.operatingHours}</p>
    </div> 
    


</div>
   
    <div class="footer-credits center">
 

    <p class="neutral-500 txt-s">Site éco conçu par <a href="https://soberstudio.dev/" target="_blank" rel="noopener noreferrer">Sober Studio</a></p>
     
    <p class="neutral-500">This page loaded in <strong><span id="load-time"></span> seconds</strong> and emitted just <strong> 0.095g of CO2</strong></p>

    
    <p class=" neutral-500 txt-s mb0">&copy; {new Date().getFullYear()} Daya Hendaye - Tous droits réservés.</p> 


  </div>
</footer>

<style>
  .footer {
    width: 100%;
    background-color: var(--primary-600);
    z-index: 999;
  
    
  }

  .footer-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin:auto;

    max-width: 40ch;
    padding: 6rem 1rem;
  }

    .social-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

.social-links svg{
    width:2rem;
}
  .footer-credits {
  padding: 1rem 2rem;
  background-color: var(--primary-500);
}



/* .logo-daya-type{
  filter: none;
  transition: filter 0.3s;
}

.logo-daya-type:hover {
  filter: drop-shadow(0 0 2px var(--primary-500)) drop-shadow(0 0 8px var(--secondary-500)) brightness(1.15);
} */

   /* svg:hover {
    filter: drop-shadow(0 0 2px var(--primary-500)) drop-shadow(0 0 8px var(--secondary-500));
    transition: filter 0.3s;
      filter: brightness(1.15) drop-shadow(0 0 8px var(--primary-500));

  } */

</style>

<script is:inline>
window.addEventListener('DOMContentLoaded', function() {
  const t = (performance.now() / 1000).toFixed(2);
  const el = document.getElementById('load-time');
  if (el) el.textContent = t;
});
</script>
<style>
