---

import '../styles/reset.css';
import '../styles/themes.css';
import '../styles/fonts.css';
import '../styles/global.css';
import Header from '../components/organisms/Header.astro';
import Footer from '../components/organisms/Footer.astro';



const siteName = "Daya Hendaye";
const baseUrl = "https://dayahendaye.fr";

const {
  pageTitle = "Street food asiatique à Hendaye",
  canonicalUrl,
  description = `Daya hendaye c’est le meilleur de la street food vietnamienne, thaï et cambodgienne. De la cuisine maison avec des produits frais et de qualité. Nous proposons également des plats végétariens. Venez découvrir notre restaurant situé à deux pas de la plage d’hendaye au pays basque : )`,
} : {
  pageTitle?: string;
  canonicalUrl?: string;
  description?: string;
} = Astro.props;

// Compute canonical URL dynamically if not provided
const computedCanonicalUrl = canonicalUrl || baseUrl + Astro.url.pathname;
---
<script type="module" src="/scripts/HeroBlur.js" defer></script>



<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
    <link rel="robots" href="/robots.txt" />

  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle} | {siteName}</title>

  <!-- SEO Meta Tags -->
   <meta name="robots" content="index, follow" />
     <link rel="sitemap" href="/sitemap.xml" />
  <meta name="description" content={description} />
  <meta name="keywords" content=" Street food asiatique, Hendaye, nems, bo bun, banh mi, burger, cuisine Thai, cuisine Cambodgienne, cuisine Vietnamienne, produits frais, produit de qualité, viande origine francaise, plats végétariens, plats végan" />
  <meta name="author" content="Daya Hendaye" />
  <!-- Favicon -->
   <link rel="icon" href="/favicon.ico" type="image/x-icon" />



  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content={`${pageTitle} | ${siteName}`} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={computedCanonicalUrl} />
  <meta property="og:image" content="https://dayahendaye.fr/og-daya-hendaye.webp" />
  <meta property="og:site_name" content={siteName} />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={`${pageTitle} | ${siteName}`} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content="https://dayahendaye.fr/og-daya-hendaye.webp" />
  <meta name="twitter:site" content="@yourtwitterhandle" />

  <!-- Canonical URL -->
  <link rel="canonical" href={computedCanonicalUrl} />

  <!-- iOS Safari Status Bar -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

</head>

<body >
<Header/>
  <main>
    <slot />
 
  </main>
    <Footer />
</body>

</html>

